body {
    font-family: 'Noto Sans Mono', monospace;
    background-image: url(https://images.pexels.com/photos/270815/pexels-photo-270815.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin-top: 50px;
    text-align: center;
}

header h1 {
    font-weight: 900;
    font-size: 50px;
    color: #ecf0f1;
    text-shadow: 4px 4px #7a1204;
}

main {
    display: flex;
}

section {
    margin-left: 190px;
    margin-top: 80px;
    width: 20vw;
    padding: 30px;
    border-radius: 5px;
    background-color: #9a2102;
    box-shadow: inset 0 10px 40px #f16500;
    background-image: url(https://img2.gratispng.com/20180410/duw/kisspng-computer-icons-download-temperature-5accebbc2b56a7.8982183015233791321775.jpg);
    background-size: 50px 50px, 10px 30px;
    background-repeat: repeat-x;
    background-position: 0 bottom;
    padding-bottom: 20px;
}

.container-temperature {
    padding-bottom: 20px;
}

.lbl-measure {
    display: block;
    padding-bottom: 20px;
    color: #ecf0f1;
    text-shadow: 3px 3px #2d3436;
    font-weight: 700;
}

.user-value {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px;
    width: 7vw;
    margin-bottom: 4px;
}

.btn-convert {
    border-radius: 3px;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
    padding: 3px;
    background-color: #370901;
    color: #fff;
}

aside {
    margin: 200px 120px 0 90px;
}

aside #result {
    font-size: 30px;
    text-shadow: none;
    font-weight: 700;
    color: #ecf0f1;
    text-shadow: 5px 5px #000;
}

body:hover {
    background-image: url(https://i.picsum.photos/id/1020/4288/2848.jpg?hmac=Jo3ofatg0fee3HGOliAIIkcg4KGXC8UOTO1dm5qIIPc);
}

body:hover header h1 {
    color: #2d3436;
    text-shadow: 4px 4px #a3aec1;
}

body:hover section {
    box-shadow: inset 0 10px 40px #2d3436;
    background-color: #b0afa8;
}

body:hover .lbl-measure {
    color: #2d3436;
    text-shadow: 1px 1px #ecf0f1;
}

body:hover .btn-convert {
    background-color: #a3aec1;
    color:#ecf0f1;
}

.btn-convert:hover {
    font-size: 14px;
}

body:hover aside #result {
    font-weight: 400;
    color: #000;
    text-shadow: 4px 4px #ecf0f1;
}